.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 10px;
  margin: 0;

  background: rgb(165, 160, 178);
  background-size: contain;

  position: relative;
}

.header-wrapper,
.footer-wrapper {
  display: flex;
  justify-content: space-around;
}
h1 {
  font-family: "Barrio", cursive;
}
.footer-wrapper {
  justify-content: space-around;
  align-items: center;
  /* border: #f4f4f4 solid 1px; */
}

.headerImg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headerImg img {
  height: 60px;
}
.likeOrNot img {
  height: 60px;
}
.likeOrNot .fix-img {
  height: 55px;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
}
.image {
  width: 100%;
}
.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.main-wrapper {
  max-width: 400px;
  height: 330px;
  margin: 20px;
}
